body{
    background-color: lavender;
}
.hero_img{
    background: url(khana.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}

.hero_wrap{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero_wrap span{
    margin-left: 5rem;
}
.hero_wrap h1{
    font-size: 2.4rem;
    text-align: center;

}
.form_code{
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;
}
.form_code button{
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(12, 161, 161);
    padding: .3rem;
    border-radius: .3rem;
    color: whitesmoke;
    margin-top: 1rem;

}
.product {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.product_list_item {
    float: left;
    width: 31%;
    margin-left: 2rem;
    margin-top: 1rem;
}
.img-responsive{
    max-width: 100%;
}
.img-responsive:hover{
    image-resolution: 75%;
}


.product_list_item:first-of-type{
    margin-left: 0vh;
}
@media screen and (max-width: 700px) {
    .product_list_item{
        width: 100%;
        float: none;
    }
}
.container-fluid{
    background: linear-gradient(to left,lavender,green);
}
